<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">

</head>
<body>
    <div class="header"> 
        <h2>Theo Web</h2>
    </div>
    <center>
    <h2>Admin page</h2>
    <hr>
    <form action="/{{rand}}/admin" method="post" enctype="multipart/form-data" >
        <label for="Title">Title</label><br>
        <input type="text" name="Title" style="width: 15opx;" required><br>

        <label for="Description">Description</label><br>
        <textarea name="Descriptions" cols="30" rows="10" required></textarea><br>

        <label for="IMG">Insert Image</label><br>
        <input type="file" name="IMG" id="" required><br>

        <input type="submit" value="Add blog">
    </form>
    </center>
    <hr>
    <div class="mncontent">
        
        {% for blg in all|reverse %}
        <div class="content" >
            <center>
            <img src="../static/blgImg/{{blg.IMG}}" alt="Theo blog" height= "270px">
            </center>
            <center>
            <h3>{{blg.Title}}</h3>

            </center>
                    <center><a href="/delete/{{rand}}/{{blg.ID}}"  style="color: black;">Click here to Delete</a></center>
        </div>
        <br>
        
        {% endfor %}
    </div>
    
    
</body>
</html>